.enter {
  opacity: 0;
  transform: translateX(200px);
  transition: all 200ms ease-out;
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
}

.exit {
  opacity: 1;
  
}

.exitActive {
  opacity: 0;
  transform: translateX(200px);
  transition: all 200ms ease-out;
}