.main-nav {
  & ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  & a {
    text-decoration: none;
    color: var(--pink);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--dark-gray-accent);
    }
  }
}
