:root {
  /*colors*/
  --dark-gray: hsl(96, 20%, 5%);
  --dark-gray-accent: hsl(96, 20%, 25%);
  --pink: hsl(339, 100%, 56%);
  --pink-accent: hsl(339, 100%, 36%);
  --yellow: hsl(61, 100%, 54%);
  --yellow-accent: hsl(61, 100%, 44%);
  --green: hsl(172, 80%, 59%);
  --green-accent: hsl(172, 80%, 49%);
  --white: hsl(0, 0%, 100%);
  --white-accent: hsl(0, 0%, 96%);

  /*border-radius*/
  --radius: 0.2rem;
}
